# python
__pycache__/
*.py[cod]
*$py.class

# sqlite
*.db
*.sqlite
*.sqlite3

# node.jd
node_modules/
npm-debug.log*

# config
config.ini
.env*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini